@font-face {
  font-family: "SF Pro Regular";
  src: url("../font/SF-Pro-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Hiragino Kaku Gothic W4";
  src: url("../font/Hiragino-Kaku Gothic-W4.ttc") format("truetype");
}

:root {
  --blue: #1450aa;
  --orange: #f89809;
  --dark-gray: #252525;
  --gray: #bcbcbc;
  --light-gray: #e5e5e5;
  --done-button-size: 24px;
  --add-button-size: 62px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.header {
  margin: 20px 0 0 20px;
  &__title {
    margin: 0;
    font-family: "SF-Pro-Text-Regular", sans-serif;
    font-size: 3.2rem;
    color: var(--blue);
  }
}
.todo {
  &__ul {
    position: relative;
    padding-left: 0;
    list-style: none;
  }
  &__li {
    position: absolute;
    display: flex;
    width: 100%;
    cursor: grab;
    transition: top .3s ease;
  }
  &__button-area {
    display: inline-block;
    padding: 16px 15px 16px 20px;
  }
  &__button {
    position: relative;
    width: var(--done-button-size);
    height: var(--done-button-size);
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: 50%;
    cursor: pointer;
    &--done {
      border: 2px solid var(--orange);
      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 15px;
        height: 15px;
        background-color: var(--orange);
        border-radius: 50%;
      }
    }
  }
  &__content {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 16px 20px 16px 0;
    width: 100%;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--light-gray);
    }
  }
  &__text {
    display: inline-block;
    min-width: 6em;
    line-height: 1.5em;
    letter-spacing: 0.025em;
    font-family: "Hiragino Kaku Gothic W4";
    font-size: 1.6rem;
    color: var(--dark-gray);
    outline: none;
    cursor: text;
    &--done {
      color: rgba($color: #252525, $alpha: 0.5);
    }
  }
}
.add {
  position: absolute;
  right: 20px;
  bottom: 20px;
  &__button {
    padding: 0;
    width: var(--add-button-size);
    height: var(--add-button-size);
    background-color: var(--blue);
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.25);
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      display: block;
      width: 20px;
      height: 2px;
      background-color: #ffffff;
      border-radius: 2px;
    }
    &::after {
      transform: rotate(90deg);
    }
  }
}
